<span class="dijit dijitReset dijitInline" role="presentation"
    ><span class="dijitReset dijitInline citrixButton" data-dojo-attach-event="ondijitclick: _onClick"
        ><span class="dijitReset dijitInline citrixButtonLeft"></span
        ><span class="dijitReset dijitStretch citrixButtonContents citrixButtonCenter" data-dojo-attach-point="titleNode, focusNode" waiRole="button" waiState="labelledby-${id}_label"
            ><span class="dijitReset dijitIcon" data-dojo-attach-point="iconNode"></span
            ><span class="dijitReset dijitInline citrixButtonText" id="${id}_label" data-dojo-attach-point="containerNode"></span
        ></span
        ><span class="dijitReset dijitInline citrixButtonRight"></span
    ></span
    ><input ${!nameAttrSetting} type="${type}" value="${value}" class="dijitOffScreen" role="presentation" tabindex="-1" data-dojo-attach-point="valueNode"
/></span>