<span class="dijit dijitReset dijitInline"
    ><span class="dijitReset dijitInline citrixButton imageButton" data-dojo-attach-event="ondijitclick: _onClick"
        ><span class="dijitReset citrixButtonContents" data-dojo-attach-point="titleNode, focusNode" waiRole="button" waiState="labelledby-${id}_label"
            ><span class="dijitReset dijitIcon citrixImageButton" data-dojo-attach-point="iconNode"></span
            ><span class="dijitReset dijitInline citrixButtonText" id="${id}_label" data-dojo-attach-point="containerNode"></span
        ></span
    ></span
    ><input ${!nameAttrSetting} type="${type}" value="${value}" class="dijitOffScreen" role="presentation" tabindex="-1" data-dojo-attach-point="valueNode"
/></span>