<li class="dijit dijitReset dijitInline" data-dojo-attach-point="containerNode">
    <div class="dijitInline citrixDecreaseButton" data-dojo-attach-point="decreaseButton" tabindex="0" data-dojo-attach-event="onclick:_onDecreaseClick, onkeypress:_onDecreaseClick"><div class="arrowIcon arrowIconLeft"></div></div
   ><div class="dijitInline citrixInfo"><span class="text" data-dojo-attach-point="infoNode"></span></div
   ><div class="dijitInline citrixIncreaseButton" data-dojo-attach-point="increaseButton" tabindex="0" data-dojo-attach-event="onclick:_onIncreaseClick, onkeypress:_onIncreaseClick"><div class="arrowIcon arrowIconRight"></div></div>
</li>