<div class="citrixProgressBar citrixProgressBarEmpty" role="progressbar"
	><div  data-dojo-attach-point="internalProgress" class="citrixProgressBarFull"
		><div class="citrixProgressBarTile" role="presentation"></div
		><span style="visibility:hidden">&nbsp;</span
	></div
	><div data-dojo-attach-point="labelNode" class="citrixProgressBarLabel" id="${id}_label"></div
	><img data-dojo-attach-point="indeterminateHighContrastImage" class="dijitProgressBarIndeterminateHighContrastImage" alt=""
/></div>
