<div>
    <button data-dojo-type="citrix/common/Button" data-dojo-attach-point="backButton" data-dojo-attach-event="onClick:_onBackClick">${backLabel}</button>
    <button data-dojo-type="citrix/common/Button" data-dojo-attach-point="nextButton" data-dojo-attach-event="onClick:_onNextClick">${nextLabel}</button>
    <button data-dojo-type="citrix/common/Button" data-dojo-attach-point="finishButton" data-dojo-attach-event="onClick:_onFinishClick">${finishLabel}</button>
    <button data-dojo-type="citrix/common/Button" data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:_onCancelClick">${cancelLabel}</button>
</div>
