<div class="citrixDialog alertDialog addDiskDialog" data-dojo-attach-point="containerNode" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div class="citrixDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="citrixDialogTitle" id="${id}_title"></span>
        <span data-dojo-attach-point="closeButtonNode" class="citrixDialogCloseIcon" data-dojo-attach-event="onclick: onCancel">
            <span data-dojo-attach-point="closeText"></span>
        </span>
	</div>
    <div class="citrixDialogPaneContent">
        <fieldset class="citrixTabPaneColumn">
            <div class="citrixTabPaneField">
                <label for="ad_size">${DISK_SIZE}</label>
                <input id="ad_size" class="citrix" name="size" data-dojo-type="citrix.common.NumberSpinner" smallDelta="1" largeDelta="10" constraints="{min: 1, places: 0}" value="80" />
                <span class="editTip grey">${GB_INDICATOR_TEXT}</span>
            </div>
            <div class="citrixTabPaneField">
                <label for="ad_encrypt">${ENCRYPTION}</label>
                <select id="ad_encrypt" class="citrix" data-dojo-type="citrix.common.Select" name="encrypt">
                    <option value="">${ENCRYPTION_NONE}</option>
                    <option value="256">${ENCRYPTION_256}</option>
                    <option value="512" selected="selected">${ENCRYPTION_512}</option>
                </select>
            </div>
            <div class="progressBar" style="display: none;">
                <p>${CREATING_DISK}</p>
                <div data-dojo-type="citrix.common.ProgressBar" value="-1"></div>
            </div>
        </fieldset>
    </div>
    <div data-dojo-attach-point="footerNode" class="citrixDialogFooterContent">
        <span class="citrixDialogFooter right">
            <button data-dojo-attach-point="connectButton" data-dojo-type="citrix.common.Button" class="citrixDialogItemRight" data-dojo-attach-event="onClick: onSave">${SAVE}</button>
            <button data-dojo-type="citrix.common.Button" class="citrixDialogItemRight" data-dojo-attach-event="onClick: onCancel">${CANCEL}</button>
        </span>
    </div>
</div>