<div class="authentication">
    <div class="alertBox redBox error hidden" data-dojo-attach-point="errorBox">
        <span class="alertIcon alertIconSmall alertIconError"></span>
        <div data-dojo-attach-point="errorNode"></div>
    </div>
    <div class="stripe">
        <div class="logo">
            <label class="tagline">${TAGLINE}</label>
        </div>
        <div class="controlContainer">
            <div class="content">
                <div class="citrixAuthField hidden" data-dojo-attach-point="usernameContainer">
                    <label>${USERNAME_LABEL}</label>
                    <span class="value" data-dojo-type="citrix.common.ValidationTextBox" data-dojo-attach-point="usernameNode" name="username"></span>
                    <span class="value hidden" data-dojo-attach-point="localUsernameNode" name="local_username"></span>
                </div>
                <div class="citrixAuthField hidden" data-dojo-attach-point="oldPasswordContainer">
                    <label for="old_password">${OLD_PASSWORD_LABEL}</label>
                    <span class="value" type="password" data-dojo-type="citrix.common.ValidationTextBox" data-dojo-attach-point="oldPasswordNode" required="true" name="old_password"></span>
                </div>
                <div class="citrixAuthField hidden" data-dojo-attach-point="passwordContainer">
                    <label data-dojo-attach-point="passwordLabel" for="password">${PASSWORD_LABEL}</label>
                    <span class="value" type="password" data-dojo-type="citrix.common.ValidationTextBox" data-dojo-attach-point="passwordNode" required="true" name="password"></span>
                </div>
                <div class="citrixAuthField hidden" data-dojo-attach-point="confirmContainer">
                    <label for="confirm">${CONFIRM_PASSWORD_LABEL}</label>
                    <span class="value" type="password" data-dojo-type="citrix.common.ValidationTextBox" data-dojo-attach-point="confirmNode" required="true" name="confirm"></span>
                </div>
            </div>
            <div class="footer">
                <div class="hidden" data-dojo-attach-point="enterNode">${ENTER_BUTTON_LABEL}</div>
                <div class="hidden" data-dojo-attach-point="escapeNode">${ESC_BUTTON_LABEL}</div>
                <div>${AUTH_HEADER}</div>
            </div>
        </div>
    </div>
</div>