<div class="citrixDialog alertDialog" data-dojo-attach-point="containerNode" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div class="citrixDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="citrixDialogTitle" id="${id}_title"></span>
        <span data-dojo-attach-point="closeButtonNode" class="citrixDialogCloseIcon" data-dojo-attach-event="onclick: onCancel">
            <span data-dojo-attach-point="closeText"></span>
        </span>
	</div>
    <div class="citrixDialogPaneContent">
        <ul class="connectDevice" data-dojo-type="citrix.common.Repeater" dojoEventHandler="this" name="getPCIDevices" uniqueId="addr">
            <li template deviceId="%addr%">
                <div class="device" templateType="citrix.common.BoundWidget" binding="disabled" bind="unavailable" data-dojo-attach-event="onClick: onDeviceSelect">
                    <div class="deviceItem deviceName" templateType="citrix.common.BoundWidget" bind="name"></div>
                    <div class="deviceItem" templateType="citrix.common.BoundWidget" bind="info" mask="${PCI_INFO}"></div>
                    <div class="deviceItem deviceStatus" templateType="citrix.common.BoundWidget" bind="state" mask="value" map="['${PCI_STATE_0}', '${PCI_STATE_1}', '${PCI_STATE_2}']"></div>
                </div>
            </li>
            <li empty class="noDevices">${NONE_AVAILABLE}</li>
        </ul>
    </div>
    <div data-dojo-attach-point="footerNode" class="citrixDialogFooterContent">
        <span class="citrixDialogFooter right">
            <button data-dojo-attach-point="connectButton" data-dojo-type="citrix.common.Button" class="citrixDialogItemRight" data-dojo-attach-event="onClick: onExecute">${CONNECT_ACTION}</button>
            <button data-dojo-type="citrix.common.Button" class="citrixDialogItemRight" data-dojo-attach-event="onClick: onCancel">${CANCEL_ACTION}</button>
        </span>
    </div>
</div>