<div
    ><div data-dojo-type="citrix.common.FooterBar" id="frameFooter"
        ><div class="footerLogos">
            <img class="brandingLogo" data-dojo-attach-point="brandingLogo" style="display: none;" />
        </div
        ><div data-dojo-attach-point="containerNode"></div
        ><div data-dojo-type="citrix.common.FooterBarItem" data-dojo-attach-point="measuredDisabled" tooltip="${MEASURED_BOOT_DISABLED}" iconClass="shieldIcon shieldIconMedium shieldIconRed" class="citrixFooterBarItemRight"></div
        ><div data-dojo-type="citrix.common.FooterBarItem" data-dojo-attach-point="measuredSuccess" tooltip="${MEASURED_BOOT_SUCCESS}" iconClass="shieldIcon shieldIconMedium shieldIconGreen" class="citrixFooterBarItemRight"></div
        ><div data-dojo-type="citrix.common.FooterBarItem" data-dojo-attach-point="measuredFailed" tooltip="${MEASURED_BOOT_FAILED}" iconClass="shieldIcon shieldIconMedium shieldIconRed" class="citrixFooterBarItemRight"></div
        ><div data-dojo-type="citrix.xenclient.AlertFooterBarItem" class="citrixFooterBarItemRight"></div
    ></div>
</div>