<div class="citrixDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div class="citrixDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="citrixDialogTitle" id="${id}_title"></span>
        <span data-dojo-attach-point="closeButtonNode" />
	</div>
    <div class="citrixDialogPaneContent" style="width: 450px;">
        <div data-dojo-attach-point="containerNode"></div>
        <p class="center">
            <img src="images/000_Preloader_32x32.gif" alt="" />
        </p>
    </div>
    <div data-dojo-attach-point="footerNode" class="citrixDialogFooterContent"></div>
</div>