<div class="dijitReset dijitInline citrixMenuBarItem" role="menuitem" tabIndex="-1" data-dojo-attach-point="focusNode"
    ><span class="dijitReset dijitInline citrixMenuBarItemSplitter" data-dojo-attach-point="leftSplitterNode"></span
	><span class="dijitReset dijitInline citrixMenuBarItemContainer">
        <div class="citrixMenuBarItemIcon" data-dojo-attach-point="iconNode"></div>
        <div class="networkPreloader" data-dojo-attach-point="preloaderNode" style="display: none;"></div>
        <div class="citrixMenuBarItemText ndvmName" data-dojo-attach-point="containerNode"></div>
    </span
    ><span class="dijitReset dijitInline citrixMenuBarItemSplitter" data-dojo-attach-point="rightSplitterNode"></span
></div>
