<div class="citrixDialog vmDetails" data-dojo-attach-point="containerNode" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div class="citrixDialogTitleBar">
        <img data-dojo-type="citrix.common.BoundWidget" binding="src" name="get_image_path" class="citrixDialogTitleIcon" />
	    <span data-dojo-attach-point="titleNode" class="citrixDialogTitle" id="${id}_title"></span>
        <span data-dojo-attach-point="closeButtonNode" class="citrixDialogCloseIcon" data-dojo-attach-event="onclick: onCancel">
            <span data-dojo-attach-point="closeText"></span>
        </span>
	</div>
    <div class="citrixDialogPaneContent">
        <span class="vmDetailActions">
            <button data-dojo-attach-point="startAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconConnect" data-dojo-attach-event="onClick: onStart">${ICASTART}</button>
            <button data-dojo-attach-point="backgroundAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconConnect" data-dojo-attach-event="onClick: onBackground">${ICABACKGROUND_START}</button>
            <button data-dojo-attach-point="switchAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconSwitch" data-dojo-attach-event="onClick: onSwitch">${ICASWITCH}</button>
            <button data-dojo-attach-point="shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDisconnect" data-dojo-attach-event="onClick: onStop">${ICASHUT_DOWN}</button>
            <button data-dojo-attach-point="force_shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDisconnect" data-dojo-attach-event="onClick: onForceStop">${ICAFORCE_SHUT_DOWN}</button>
            <button data-dojo-attach-point="local_loginAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconLock" data-dojo-attach-event="onClick: onLogin">${ICALOGIN}</button>
        </span>
        <span class="vmDetailActions right">
            <button data-dojo-attach-point="addAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconAdd" data-dojo-attach-event="onClick: onAddDevice">${ADD_DEVICE}</button>
            <button data-dojo-attach-point="deleteAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDelete" data-dojo-attach-event="onClick: onDelete">${DELETE}</button>
        </span>
        <hr class="horizontalSeparator"/>
        <div class="detailsTabContainer" data-dojo-type="citrix.common.TabContainer">
            <div data-dojo-type="citrix.common.ContentPane" title="${GENERAL}" selected="true">
                <fieldset class="citrixTabPaneColumn">
                    <div class="citrixTabPaneField">
                        <label for="name">${CONNECTION_NAME}</label>
                        <span class="value" data-dojo-type="citrix.common.EditableWidget" editor="citrix.common.ValidationTextBox" name="name" data-dojo-props="editorParams: {maxLength: 60, required: true, regExpObject: 'XenConstants.Regex.VM_NAME', invalidMessage: '${NAME_VALERROR}'}"></span>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="name">${URL}</label>
                        <span class="value" data-dojo-type="citrix.common.EditableWidget" editor="citrix.common.ValidationTextBox" name="url" data-dojo-props="editorParams: {required: true, regExpObject: 'XenConstants.Regex.URL', invalidMessage: '${URL_VALERROR}'}"></span>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="slot">${SWITCHER_KEY}</label>
                        <span class="value" data-dojo-attach-point="slotSelect" data-dojo-type="citrix.common.EditableWidget" editor="citrix.common.Select" mask="${SWITCHER_KEY_MASK}" name="slot"></span>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="hidden_in_switcher">${DISPLAY_VM}</label>
                        <span class="value" data-dojo-type="citrix.common.EditableWidget" editor="citrix.common.Select" map="{'${ENABLED}': false, '${DISABLED}': true}" name="hidden_in_switcher"></span>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="description">${DESCRIPTION}</label>
                        <span class="value textArea" data-dojo-type="citrix.common.EditableWidget" editor="citrix.common.ValidationTextarea" name="description" data-dojo-props="editorParams: {maxLength: 200, regExpObject: 'XenConstants.Regex.VM_DESCRIPTION', invalidMessage: '${DESCRIPTION_VALERROR}'}"></span>
                    </div>
                </fieldset>
            </div>
            <div class="vmDevices" data-dojo-type="citrix.common.ContentPane" title="${DEVICES}">
                <div class="bottomSpaceTab">
                    <table class="citrixTable vmConnectedDevices" data-dojo-type="citrix.common.Repeater" dojoEventHandler="this" name="connectedDevices" uniqueId="dev_id">
                        <thead>
                            <tr>
                                <th>${PRIVATE_DEVICE}</th>
                                <th>${OPTIONS}</th>
                                <th>${ACTIONS}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr template deviceId="%dev_id%">
                                <td class="deviceRow">
                                    <span class="deviceName" templateType="citrix.common.EditableWidget" editor="citrix.common.ValidationTextBox" bind="name" data-dojo-props="editorParams: {maxLength: 60, required: true, regExpObject: 'XenConstants.Regex.USB_NAME', invalidMessage: '${NAME_VALERROR}'}"></span>
                                </td>
                                <td class="noWrap">
                                    <span templateType="citrix.common.EditableWidget" editor="citrix.common.CheckBox" data-dojo-props="editorParams: {id: 'check_%dev_id%'}" readOnlyEditor="true" bind="getSticky"></span>
                                    <label for="check_%dev_id%">${ALWAYS_USE}</label>
                                </td>
                                <td>
                                    <button templateType="citrix.common.Button" data-dojo-attach-event="onClick: onUsbDetach">${DISCONNECT}</button>
                                </td>
                            </tr>
                            <tr empty>
                                <td class="deviceRow" colspan="3">${NO_DEVICES}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="citrixTable vmConnectedDevices" data-dojo-type="citrix.common.Repeater" dojoEventHandler="this" name="getPlatformDevices">
                        <thead>
                            <tr>
                                <th>${PLATFORM_DEVICE}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr template>
                                <td class="deviceRow">
                                    <span class="deviceName" templateType="citrix.common.BoundWidget" bind="name"></span>
                                </td>
                            </tr>
                            <tr empty>
                                <td class="deviceRow">${NO_DEVICES}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <fieldset class="citrixTabPaneColumn alignBottom">
                    <div class="citrixTabPaneField">
                        <label for="usb_grab_devices" data-dojo-attach-point="usbGrabDevicesLabel" data-dojo-type="citrix.common.Label">${USB_GRAB_DEVICES}</label>
                        <span class="value" data-dojo-attach-point="usbGrabDevices" data-dojo-type="citrix.common.EditableWidget" editor="citrix.common.Select" map="{'${ENABLED}': true, '${DISABLED}': false}" name="usb_grab_devices"></span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="footerNode" class="citrixDialogFooterContent">
        <span class="citrixDialogFooter right">
            <span data-dojo-attach-point="editButtons">
                <button data-dojo-attach-point="editButton" data-dojo-type="citrix.common.Button" class="citrixDialogItemRight editNode" data-dojo-attach-event="onClick: edit">${EDIT}</button>
                <button data-dojo-attach-point="saveButton" data-dojo-type="citrix.common.Button" class="citrixDialogItemRight editNode" data-dojo-attach-event="onClick: save">${SAVE}</button>
                <button data-dojo-attach-point="cancelButton" data-dojo-type="citrix.common.Button" class="citrixDialogItemRight editNode" data-dojo-attach-event="onClick: cancel">${CANCEL}</button>
            </span>
            <button data-dojo-attach-point="closeButton" data-dojo-type="citrix.common.Button" class="citrixDialogItemRight" data-dojo-attach-event="onClick: onCancel">${CLOSE}</button>
        </span>
    </div>
</div>