<div class="citrixDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
  	<div class="citrixDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="citrixDialogTitle" id="${id}_title">${DEFERRED_INSTALL_TITLE}</span>
        <span data-dojo-attach-point="closeButtonNode" class="citrixDialogCloseIcon" data-dojo-attach-event="onclick: onCancel">
            <span data-dojo-attach-point="closeText"></span>
        </span>
    </div>
    <div class="citrixDialogPaneContent">
        <div id="${wizardId}" data-dojo-type="citrix.common.WizardContainer" data-dojo-attach-point="wizard">
            <div data-dojo-type="citrix.common.WizardPage" title="${LANGUAGE_HEADER}" isReturnable="false" selected="true" data-dojo-attach-point="languagePage">
                <fieldset class="citrixTabPaneColumn single">
                    <p>${LANGUAGE_INSTR}</p>
                    <div class="citrixTabPaneField">
                        <select class="citrix" data-dojo-type="citrix.common.Select" data-dojo-attach-point="languageSelect" name="language"></select>
                    </div>
                </fieldset>
            </div>
            <div class="eulaPage" data-dojo-type="citrix.common.WizardPage" title="${EULA_HEADER}" isReturnable="false" data-dojo-attach-point="eulaPage">
                <fieldset class="citrixTabPaneColumn single">
                    <div class="eula" data-dojo-attach-point="eulaContent"></div>
                </fieldset>
                <div class="alignBottom">
                    <div class="alertBox orangeBox">
                        <span class="alertIcon alertIconSmall alertIconWarning"></span>
                        <div>${EULA_ERROR}</div>
                    </div>
                </div>
            </div>
            <div data-dojo-type="citrix.common.WizardPage" title="${KEYBOARD_HEADER}" isReturnable="false" data-dojo-attach-point="keyboardPage">
                <fieldset class="citrixTabPaneColumn single">
                    <p>${KEYBOARD_INSTR}</p>
                    <div data-dojo-type="citrix.common.Repeater" data-dojo-attach-point="kbRepeater" dojoEventHandler="this">
                        <div class="citrixTabPaneField radio" template>
                            <input type="radio" templateType="citrix.common.RadioButton" bind="keyboard" id="kb_%id%" value="%id%" />
                            <label for="kb_%id%">%label%</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div data-dojo-type="citrix.common.WizardPage" title="${ROOT_PASSWORD_HEADER}" isReturnable="false" data-dojo-attach-point="passwordPage">
                <fieldset class="citrixTabPaneColumn single">
                </fieldset>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="footerNode" class="citrixDialogFooterContent">
        <span class="citrixDialogFooter right" wizardId="${wizardId}" data-dojo-type="citrix.common.WizardNavigator" data-dojo-attach-point="navigationNode"></span>
    </div>
</div>