<div class="citrixVM" data-dojo-attach-point="containerNode" data-dojo-attach-event="onmouseover: _onMouseMove, onmousemove: _onMouseMove, onmouseout: _onMouseOut">
    <div class="citrixVMOuter">
        <div class="citrixVMInner">
            <div class="citrixVMContainer">
                <div class="vmNameContainer">
                    <span data-dojo-type="citrix.common.BoundWidget" name="fullNameWhenTruncated" binding="title" pre="true">
                        <div class="vmText vmName" data-dojo-type="citrix.common.BoundWidget" name="name"></div>
                    </span>
                    <div class="vmNameIcon alertIcon alertIconSmall alertIconWarning" data-dojo-attach-point="warningNode"></div>
                </div>
                <img class="vmImage" data-dojo-attach-point="imageNode" data-dojo-attach-event="onclick: _onClick" />
                <div class="vmSpinner" data-dojo-type="citrix.common.BoundWidget" binding="display" name="isBusy"></div>
                <div class="badgeContainer">
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="isManaged" class="badgeIcon dark badgeIconManaged" title="${MANAGED_ENABLED}" position="above"></span>
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="isHdxRunning" class="badgeIcon dark badgeIconThreed" title="${THREED_GRAPHICS_ENABLED}" position="above"></span>
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="native_experience" class="dark badgeIcon badgeIconNative" title="${NATIVE_MODE_ENABLED}" position="above"></span>
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="allDisksReset" class="badgeIcon dark badgeIconDiskReset" title="${DISK_RESET_ENABLED}" position="above"></span>
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="allDisksEncrypted" class="badgeIcon dark badgeIconEncrypted" title="${ENCRYPTION_ENABLED}" position="above"></span>
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="hasCDLock" class="badgeIcon dark badgeIconCD" title="${CDLOCK_ENABLED}" position="above"></span>
                    <span data-dojo-type="citrix.common.BoundWidget" binding="display" name="hasUSBDevice" class="badgeIcon dark badgeIconUSB" title="${USB_ENABLED}" position="above"></span>                    
                </div>
                <div>
                    <div class="vmText vmState stateIcon" data-dojo-attach-point="stateIcon" data-dojo-type="citrix.common.BoundWidget" name="getTranslatedState"></div>
                </div>
                <div class="vmFooter vmControl">
                    <div class="vmShadow"></div>
                    <span class="vmActions Buttons">
                        <button class="smallImageButton startAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconStart" data-dojo-attach-event="onClick: onStart">${START}</button>
                        <button class="smallImageButton backgroundAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconStart" data-dojo-attach-event="onClick: onBackground">${BACKGROUND_START}</button>
                        <button class="smallImageButton wakeAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconWake" data-dojo-attach-event="onClick: onWake">${WAKE}</button>
                        <button class="smallImageButton shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconStop" data-dojo-attach-event="onClick: onStop">${SHUT_DOWN}</button>
                        <button class="smallImageButton force_shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconForceStop" data-dojo-attach-event="onClick: onForceStop">${FORCE_SHUT_DOWN}</button>
                        <button class="smallImageButton local_loginAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconLock" data-dojo-attach-event="onClick: onLogin">${LOGIN}</button>
                        <button class="smallImageButton detailsAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDetails" data-dojo-attach-event="onClick: onDetails">${DETAILS}</button>
                    </span>
                    <span class="vmActions ICAButtons">
                        <button class="smallImageButton startAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconConnect" data-dojo-attach-event="onClick: onStart">${ICASTART}</button>
                        <button class="smallImageButton backgroundAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconConnect" data-dojo-attach-event="onClick: onBackground">${ICABACKGROUND_START}</button>
                        <button class="smallImageButton shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDisconnect" data-dojo-attach-event="onClick: onStop">${ICASHUT_DOWN}</button>
                        <button class="smallImageButton force_shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDisconnect" data-dojo-attach-event="onClick: onForceStop">${ICAFORCE_SHUT_DOWN}</button>
                        <button class="smallImageButton local_loginAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconLock" data-dojo-attach-event="onClick: onLogin">${ICALOGIN}</button>
                        <button class="smallImageButton detailsAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDetails" data-dojo-attach-event="onClick: onICADetails">${ICADETAILS}</button>
                    </span>
                </div>
            </div>
            <div data-dojo-attach-point="transferNode" class="vmFooter vmTransfer">
                <div class="vmShadow"></div>
                <div class="vmProgress" data-dojo-type="citrix.common.ProgressBar" data-dojo-attach-point="progressNode" name="download_progress"></div>
                <div class="vmText" data-dojo-type="citrix.common.BoundWidget" data-dojo-attach-point="transferStateNode">${VM_DOWNLOADING}</div>
            </div>
        </div>
    </div>
</div>
