<div class="citrixVMPower" data-dojo-attach-point="containerNode">
    <img class="vmPowerImage left" data-dojo-type="citrix.common.BoundWidget" binding="src" name="get_image_path" />
    <div class="vmPowerTextContainer left">
        <span data-dojo-type="citrix.common.BoundWidget" name="fullNameWhenTruncated" binding="title">
            <div data-dojo-type="citrix.common.BoundWidget" name="truncatedName" mask="${NAME_MASK}"></div>
        </span>
        <div class="vmPowerState" data-dojo-type="citrix.common.BoundWidget" name="getTranslatedState" mask="${STATUS_MASK}"></div>
        <div data-dojo-type="citrix.common.BoundWidget" name="slot" mask="${SLOT_MASK}"></div>
    </div>
    <button class="Buttons right force_shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconForceStop" data-dojo-attach-event="onClick: onForceStop">${FORCE_SHUT_DOWN}</button>
    <button class="ICAButtons right force_shutdownAction" data-dojo-type="citrix.common.ImageButton" iconClass="vmIcon vmIconDisconnect" data-dojo-attach-event="onClick: onForceStop">${ICAFORCE_SHUT_DOWN}</button>
</div>