<div class="citrixVM" data-dojo-attach-point="containerNode" data-dojo-attach-event="onmouseover: _onMouseMove, onmousemove: _onMouseMove, onmouseout: _onMouseOut">
    <div class="citrixVMOuter">
        <div class="citrixVMInner zeroVM">
            <div class="citrixVMContainer">
                <img class="vmImage" data-dojo-attach-point="imageNode" data-dojo-attach-event="onclick: _onClick" />
                <div class="vmNameContainer">
                    <div class="noVMText" data-dojo-attach-point="textNode"></div>
                </div>
            </div>
        </div>
    </div>
</div>